.card {
    width: 400px;
    height: auto;
    padding: 1em;

}

.card-friends {
    margin: 3em;
}

.clone-containter {
    margin-bottom: auto;
    width: max-content;
}

img {

    border-radius: .25em;
    height: auto;
    max-height: 300px;

    image-rendering: optimizeQuality;
}


/* .friend-card {
    align-content: flex-start;
    
}

.deleteButton {
    margin-top: 3em;
    vertical-align:middle;
    align-self: flex-end;

} */
