button.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  /* margin: 0;
  padding: 0; */
  text-decoration: none;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carouselExampleDark {
  align-items: center;
  max-width:700px;
  height: 600px;
}

.center {
  margin: auto;
  width: 100%;

}

.center-carousel {
  margin-top: 5%;
  margin-left: 23%;
  margin-right: 23%;
  width: 100%;
  height: auto;
}

.container-food {
  align-content: center;
  align-items: center;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 3em;
}